{% extends "layout.html" %}

{% block y %}
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">
              About
            </h6>
            <h1 class="mb-5" style="text-align: center;">Pesona Wisata</h1>
            <p class="mb-4">Platform serba ada yang menghadirkan pengalaman wisata tak terlupakan, memadukan informasi destinasi wisata domestik dan internasional dengan kemudahan pembelian tiket. Dengan antarmuka yang ramah pengguna, situs ini dirancang untuk memberikan inspirasi perjalanan dan membantu Anda merencanakan liburan impian Anda.</p>
            <div class="row gy-2 gx-4 mb-4">
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Informasi destinasi wisata</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Destinasi wisata domestic</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Destinasi wisata international</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Pembelian tiket wisata</p>
                </div>
            </div>

        </div>
      </div>
    </div>
    <!-- About End -->

{% endblock %}
