<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>International</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />

    <script>

        let attraction_id = '{{ attraction._id }}';
        function book_ticket() {
            let attraction_id = '{{ attraction._id }}';
            let name = '';
            let email = '';
            let num_tickets = $("#num_tickets").val();
            if (num_tickets == '') {
                alert('Silahkan input jumlah tiket!')
            } else {
                {% if user_info %}
                name = '{{ user_info.name }}';
                email = '{{ user_info.email }}';
                {% else %}
                // Redirect to the login page
                window.location.href = '/signin';
                return;
                {% endif %}

                $.ajax({
                    type: "POST",
                    url: "/wisata/book",
                    data: {
                        attraction_id: attraction_id,
                        name: name,
                        email: email,
                        num_tickets: num_tickets
                    },
                    success: function (response) {
                        alert(response.message);
                        window.location.reload()
                    },
                    error: function (response) {
                        alert(response.message);
                    }
                })
            }

        }

    </script>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="text-primary m-0">
                    <i class="fa fa-map-marker-alt me-3"></i>PesonaWisata
                </h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="domestic.html" class="nav-item nav-link active">Domestic</a>
                    <a href="international.html" class="nav-item nav-link">International</a>
                    <a href="pesanan.html" class="nav-item nav-link">Cek Pesanan</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                </div>
                <div class="d-flex">
                    <a href="login.html" class="btn btn-primary rounded-pill py-2 px-4">Login</a>
                </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        </div>
    </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Package Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <p><span class="text-primary me-2">#</span>Welcome To Domestic</p>
                    <h1 class="display-5 mb-4">Why You Should Visit <span class="text-primary">{{ attraction.name }}</span> !</h1>
                    <h5 class="mb-3"><i class="far fa-circle text-primary me-3"></i>Sisa Tiket Tersedia : {{ attraction.total_tickets }}</h5>
                    <h5 class="mb-3">Harga tiket : {{ attraction.price_rupiah }}</h5>
                    <p class="mb-4"> {{ attraction.description }}</p>
                    <h5 class="mb-3">Jumlah tiket yang ingin di Booking :</h5>
                    <input class="input tiket_number" type="number" placeholder="Input jumlah " id="num_tickets">
                    <br>
                    <a class="btn btn-primary py-3 px-5 mt-3" onclick="book_ticket()">Pesan Sekarang !</a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="img-border">
                        <img class="img-fluid" src="/{{ attraction.image_domestic }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Package End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
</body>

</html>